.modal-root {
	height: 100vh;
	width: 100vw;
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	left: 0;
  
	display: flex;
	align-items: center;
	justify-content: space-around;
  .modal-div{
    width: 55vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    .close-icon-container {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      .close-icon {
        &:hover {
          cursor: pointer;
        }
      }
    }
    .modal-paper {
      align-self: center;
      position: absolute;
      
      z-index: 9999;
      max-height: 80vh;
      width: 50vw;
      overflow: auto;
      padding: 30px 50px;
      border-radius: 5px;
      
    }
  }
}

.hover-link {
  &:hover {
    cursor: pointer;
    color: #2196f3;
  }
}
.popover-list {
  padding: 15px 15px 0px 15px;
  width: fit-content;
  div {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;

  }
}

@media only screen and (max-width: 768px) {
	.modal-root {
		
		.modal-paper {
			height: 70%;
			width: 90%;
			padding: 10px 10px;
		}
	}
}